.feelings{
    text-align:center;
    font-family:"Ravi Prakash", cursive;
}

.input-group-text{
    font-family:"Ravi Prakash", cursive;
}

h2{
    font-family:"Ravi Prakash", cursive;
}

#room-title, #room-desc {
    font-family:"Ravi Prakash", cursive;
}